<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "mx.com.softelligence.Infommodity"
        versionCode="1"
        version   = "0.1.20">

    <!-- versionCode is optional and Android only -->
    <name>Infommodity</name>
    <description>Infommodity</description>
    <author href="http://infommodity.com/" email="eaguilar@softelligence.com.mx">Infommodity</author>

    <!-- Plataformas que soporte -->
    <preference name="phonegap-version" value="3.5.0" />
    <gap:platform name="ios" />
    <gap:platform name="android" />

    <!-- Multi-Platform -->
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
	<preference name="WebViewBounce" value="true" /> 

    <!-- iOS Only -->
    <preference name="target-device" value="handset" />
    <preference name="prerendered-icon" value="false" />
    <preference name="ios-statusbarstyle" value="default" />
    <preference name="detect-data-types" value="false" />
    <preference name="exit-on-suspend" value="false" />

    <!-- Android only -->
    <preference name="android-minSdkVersion" value="9" />
    <preference name="android-maxSdkVersion" value="19" />
    <preference name="android-targetSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" />
    <preference name="splash-screen-duration" value="1000"/>
    <preference name="KeyboardShrinksView" value="true" />

    <!-- Splash 
    <gap:splash src="splash.png" />-->

    <!-- Icons -->
    <icon src="icon.png" />

    <!-- Permisos -->
    <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.4.0" />
	<gap:plugin name="org.apache.cordova.device" version="0.2.12" />
	<gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" />
	<gap:plugin name="org.apache.cordova.geolocation" version="0.3.10" />
	<gap:plugin name="org.apache.cordova.network-information" version="0.2.12" />


    <access origin="*" />
	<content src="index.html" /> 

</widget>
