<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "mx.com.softelligence.Infommodity"
        versionCode="10"
        version   = "1.0.10">

    <!-- versionCode is optional and Android only -->
    <name>Infommodity</name>
    <description>Infommodity</description>
    <author href="http://infommodity.com/" email="eaguilar@softelligence.com.mx">Infommodity</author>

    <!-- Plataformas que soporte -->
    <preference name="phonegap-version" value="cli-5.2.0" />
    <gap:platform name="ios" />
    <gap:platform name="android" />

    <!-- Multi-Platform -->
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
	<preference name="WebViewBounce" value="true" /> 

    <!-- iOS Only -->
    <preference name="target-device" value="universal" />
    <preference name="prerendered-icon" value="false" />
    <preference name="ios-statusbarstyle" value="default" />
    <preference name="detect-data-types" value="false" />
    <preference name="exit-on-suspend" value="false" />
	<preference name="AutoHideSplashScreen" value="false" />

    <!-- Android only -->
    <preference name="android-minSdkVersion" value="9" />
    <preference name="android-maxSdkVersion" value="23" />
    <preference name="android-targetSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <preference name="android-windowSoftInputMode" value="stateUnspecified|adjustResize" />
    <!--<preference name="splash-screen-duration" value="1000"/>-->
	<preference name="SplashScreenDelay" value="10000"/>
    <preference name="KeyboardShrinksView" value="false" />

    <!-- Splash 
    <gap:splash gap:platform="android" src="imgs/screens/android/ldpi.png" gap:density="ldpi" />
	<gap:splash gap:platform="android" src="imgs/screens/android/mdpi.png" gap:density="mdpi" />
	<gap:splash gap:platform="android" src="imgs/screens/android/hdpi.png" gap:density="hdpi" />
	<gap:splash gap:platform="android" src="imgs/screens/android/xhdpi.png" gap:density="xhdpi" />
	<gap:splash gap:platform="ios" height="480" src="imgs/screens/ios/screen-iphone-portrait.png" width="320" />
	<gap:splash gap:platform="ios" height="1024" src="imgs/screen/ios/screen-ipad-portrait.png" width="768" />
	<gap:splash gap:platform="ios" height="2048" src="imgs/screen/ios/screen-iphone-portrait-grande.png" width="1536" />
	<gap:splash gap:platform="ios" height="1136" src="imgs/screen/ios/screen-ipad.png" width="640" />-->
	<gap:splash src="imgs/screens/ios/Default_iphone5.png" gap:platform="ios" width="640" height="1136" />
	<gap:splash src="splash.png" gap:platform="android"/>

    <!-- Icons -->
    <icon src="icon.png" />
    <icon src="imgs/iconos/android/36.png" gap:platform="android" gap:density="ldpi" />
    <icon src="imgs/iconos/android/48.png" gap:platform="android" gap:density="mdpi" />
    <icon src="imgs/iconos/android/96.png" gap:platform="android" gap:density="hdpi" />
    <icon src="imgs/iconos/android/512.png" gap:platform="android" gap:density="xhdpi" />
    <icon src="imgs/iconos/ios/57.png" gap:platform="ios" width="57" height="57" />
    <icon src="imgs/iconos/ios/72.png" gap:platform="ios" width="72" height="72" />
    <icon src="imgs/iconos/ios/114.png" gap:platform="ios" width="114" height="114" />
    <icon src="imgs/iconos/ios/144.png" gap:platform="ios" width="144" height="144" />
    <icon src="imgs/iconos/ios/120.png" gap:platform="ios" width="120" height="120" />
    <icon src="imgs/iconos/ios/152.png" gap:platform="ios" width="152" height="152" />
    <icon src="imgs/iconos/ios/76.png" gap:platform="ios" width="76" height="76" />

    <!-- Permisos -->
    <!--<gap:plugin name="com.phonegap.plugins.pushplugin" version="2.4.0" />
	<gap:plugin name="org.apache.cordova.device" version="0.2.12" />
	<gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" />
	<gap:plugin name="org.apache.cordova.geolocation" version="0.3.10" />
	<gap:plugin name="org.apache.cordova.network-information" version="0.2.12" />
	<gap:plugin name="org.apache.cordova.splashscreen" version="0.3.3" />-->
	
	<plugin name="com.phonegap.plugins.pushplugin" source="pgb" spec="2.4.0" />
	<plugin name="org.apache.cordova.device" source="pgb" spec="0.2.12" />
	<plugin name="org.apache.cordova.dialogs" source="pgb" spec="0.2.10" />
	<plugin name="org.apache.cordova.geolocation" source="pgb" spec="0.3.10" />
	<plugin name="org.apache.cordova.network-information" source="pgb" spec="0.2.12" />
	<plugin name="org.apache.cordova.splashscreen" source="pgb" spec="0.3.3" />




    <access origin="*" />
	<content src="index.html" /> 

</widget>

